* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-dm-sans);
    height: 100vh;
    padding: 16px;
}

.card {
    background-color: var(--bg-white-color);
    border-radius: 16px;
    box-shadow: rbg(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    width: 320px;
    height: 420px;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: rbg(0, 0, 0, 0.1) 0px 6px 16px;
}

.card_preview {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card_preview img {
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.card:hover .card_preview img {
    transform: scale(1.35);
}


.card_address {
    margin: 6px 4px;
    font-size: 14px;
    color: var(--bg-verde-escuro-color);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.card_price {
    background-color: var(--bg-white-color);
    color: var(--bg-verde-escuro-color);
    z-index: 1;
    position: absolute;
    bottom: 10px;
    padding: 2px 4px;
    border-radius: 8px;
    left: 10px;
    font-weight: bold;
    font-size: 14px;
}

.card_content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--bg-verde-escuro-color);
}

.card_button {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_description {
    margin-top: 8px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    color: var(--bg-verde-escuro-color);
    font-size: 14px;
}

.card_properties {
    font-size: 14px;
    color: var(--bg-verde-escuro-color);
}

.card_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.favorite {
    color: var(--like); /* Cor vermelha para o ícone favorito */
}





