* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-dm-sans);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-verde-acinzentado-color);
}

.content {
    background-color: var(--bg-white-color);
    border-radius: 20px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


/*BEFORE DO ELEMENTO*/
.content::before {
    content: "";
    position: absolute;
    background-color: var(--bg-verde-escuro-color);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0;
}

/*Texto*/
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary {
    color: var(--bg-white-color);
}

.title-secondary {
    color: var(--bg-verde-escuro-color);
}

.description {
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
}

.description-primary {
    color: var(--bg-white-color);
}

.description-secondary {
    color: var(--bg-lightgray-color);
}


/*BUTTON*/
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

.btn-primary {
    margin: 16px;
    background-color: transparent;
    border: 1px solid var(--bg-verde-acinzentado-color);
    color: var(--bg-white-color);
    transition: background-color .5s;
}

.btn-primary:hover {
    background-color: var(--bg-verde-acinzentado-color);
    color: var(--bg-white-color);
}

.btn-secondary {
    margin: 16px;
    background-color: var(--bg-verde-escuro-color);
    border: 1px solid var(--bg-verde-escuro-color);
    color: var(--bg-white-color);
    transition: background-color .5s;
}

.btn-secondary:hover {
    background-color: var(--bg-verde-acinzentado-color);
    border: 1px solid var(--bg-verde-escuro-color);
    color: var(--bg-white-color);
}


/*PRIMEIRO ELEMENTO*/
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-content .second-column {
    z-index: 11;
}

.first-content {
    display: flex;
}


/*SEGUNDO ELEMENTO*/

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-content {
    position: absolute;
    display: none;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}

.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: var(--bg-lightgray-color);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    text-align: center;
    transition: color .6s;
}   

.password::first-letter {
    text-transform: capitalize;
}

.password:hover {
    color: var(--bg-verde-escuro-color);
}


/*FORMULÁRIO*/
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

/*INPUT*/

.form input {
    height: 45px;
    border: none;
    background-color: var(--bg-verde-acinzentado-color);
    width: 100%;
    box-sizing: border-box;
}

.form input:focus {
    outline: none;
}

.label-input {
    background-color: var(--bg-verde-acinzentado-color);
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: var(--bg-verde-escuro-color);
    padding: 0 5px;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #AFC1B6 inset !important;
    -webkit-text-fill-color: #000 !important;
}

/*ICONS REDES SOCIAIS*/

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.link-social-media .item-social-media {
    transition: background-color .5s;
}

.link-social-media:hover .item-social-media{
    background-color: var(--bg-verde-escuro-color);
    color: var(--bg-white-color);
    border-color: var(--bg-verde-escuro-color);
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 1px solid var(--bg-verde-acinzentado-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: var(--bg-verde-escuro-color);
}

/*sing-in*/
.sing-in-js .first-content .first-column,
.sing-in-js .first-content .second-column{
    z-index: -1;
}

.sing-in-js .second-content .first-column,
.sing-in-js .second-content .second-column {
    z-index: 11;
}

.sing-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*sing-up*/
.sing-up-js .second-content .first-column,
.sing-up-js .second-content .second-column  {
    z-index: -1;
}

.sing-up-js .first-content .first-column,
.sing-up-js .first-content .second-column {
    z-index: 11;
}














