body {
    font-family: var(--font-dm-sans); 
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    background-color: var(--bg-white-color); 
    box-shadow: 0 2px 4px var(--bg-transparente-color);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.header .logo .fa-regular {
    font-size: 25px;
    margin-right: 5px;
    color: var(--bg-gray-color);
}

.header .logo a {
    text-decoration: none;
    color: var(--bg-gray-color);
    display: flex;
    align-items: center;
}

.search .fa-solid,
.cart .fa-solid {
    font-size: 25px;
    margin-right: 5px;
}

.search {
    display: flex;
    align-items: center;
    background-color: var(--bg-lightgray-color);
    border-radius: 500px;
    border: 1px solid transparent;
    margin-left: 300px;
    padding: 5px;
    width: 300px;
    height: 30px;
}

.search .fa-solid {
    color: var(--bg-gray-color);
}

.search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.search input {
    background: transparent;
    border: none;
    padding: 10px;
    color: var(--bg-gray-color);
    outline: none;
    width: 100%;
    font-size: 16px;
}

.cart {
    display: flex;
    align-items: center;
    margin-left: 300px;
}

.cart a {
    text-decoration: none;
    color: var(--bg-gray-color);
    display: flex;
    align-items: center;
}

