
 :root {

    /*FONT*/
    --font-dm-sans: 'Open Sans', sans-serif;


    /*COLORS*/

    --bg-black-color: #000;
    --bg-white-color: #FFF;
    --bg-gray-color: #615959;
    --bg-lightgray-color: #b3b3b3;
    --bg-transparente-color: rgba(0, 0, 0, 0.1);

    --like: #FF3040;

    --bg-fundo-color: #101916;
    --bg-verde-escuro-color: #355245;
    --bg-verde-acinzentado-color: #AFC1B6;
    --bg-verde-claro-color: #648374;
    --bg-cinza-esverdeado-color: #E3E5D8;
 }

 


/*COLORS*/